Details needs name, phone, email, category, organization, and date added.  3 buttons edit, home, delete
@model Contact
<h2>Contact Details</h2>

<table>
	<tr>
		<td>Name:</td>
		<td>@Model.FullName()</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>@Model.PhoneNumber</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>@Model.EmailAddress</td>
	</tr>
	<tr>
		<td>Category:</td>
		<td>@Model.CategoryID</td>
	</tr>
	<tr>
		<td>Organization:</td>
		<td>@Model.Organization</td>
	</tr>
	<tr>
		<td>Date Added:</td>
		<td>@Model.DateAdded.ToString()</td>
	</tr>
	<tr>
		buttons go here
	</tr>
</table>